<a href="https://colab.research.google.com/github/azizivakili/pypanda/blob/main/First_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Panda - Excercises

In [20]:
import pandas as pd

stocks = ['EPT','EXA','11B','prodect']
print(pd.Series(data=stocks))

0        EPT
1        EXA
2        11B
3    prodect
dtype: object

In [15]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

**convert the Series to list**

In [17]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

quotations = quotations.tolist()

print(quotations)

[387.0, 339.5, 349.5, 391.0]

In [32]:
### Create a Datafram from dectionary ###

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations = pd.DataFrame(quotations, columns=['price'])

print(quotations)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [59]:
### Create Datafram from  list Dectionry
import pandas as pd
stocks ={'Name':['PLW','CDR','TEN','11B'],'num':[387.00,339.5,349.5,391.0]}

quotations = pd.DataFrame(stocks ,index=['1','2','3','4',])
print(quotations)

  Name    num
1  PLW  387.0
2  CDR  339.5
3  TEN  349.5
4  11B  391.0

In [63]:
import numpy as np
import pandas as pd

s = pd.Series(
    data=np.arange(10, 100, 10),
    index=np.arange(101, 110),
    dtype='float'
)
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [72]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

print(series)
print()
print("#########################################################")
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

series = series.astype(int)
print(series)

a    001
b    002
c    003
d    004
dtype: object

#########################################################
a    1
b    2
c    3
d    4
dtype: int64

**Add two element to following Series**

In [87]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)


quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))
 #----------------------------------------------------------------------
#quotations = quotations.concat(pd.Series({'BBT': 25.5, 'F51': 19.2}))
 #----------------------------------------------------------------------


print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

<ipython-input-87-285d71bd5e46>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))

**Convert a data Serice to DataFrame**

In [92]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2
}
quotations = pd.Series(data=stocks)
#--------------------------------------------------------
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2